In [ ]:
#| hide
from testnbdev2.mtable import *

# testnbdev2

> testing nbdev2

This file will become your README and also the index of your documentation.

## Install

```sh
pip install testnbdev2
```

## How to use

Fill me in please! Don't forget code examples:

In [ ]:
1+1

2

In [ ]:
table(6)

6 times 1 = 6
6 times 2 = 12
6 times 3 = 18
6 times 4 = 24
6 times 5 = 30
6 times 6 = 36
6 times 7 = 42
6 times 8 = 48
6 times 9 = 54
6 times 10 = 60

In [ ]:
import pandas as pd

In [ ]:
file_path="https://demo-time-series.s3.us-east-2.amazonaws.com/ex_read_csv1.csv"

col_dict={"date":("date","%d-%m-%Y"),"weight":float,"salary":float}

read_csv(file_path,col_dict)[0]

        date  weight  salary
0 2020-01-10    44.0  2000.0
1 2020-01-11    42.0  4000.0
2 2020-01-12    52.0  3000.0
3 2020-01-13    55.0  5000.0
4 2020-01-14    32.0  7000.0
5 2020-01-15    35.0  5500.0
6 2020-01-16    41.0  4500.0
7 2020-01-17    47.0  6500.0